
p.a_roleRespFirst
{	text-align:center ;
	margin-top: -5pt ;
	margin-bottom: 2pt ;
	color: Navy ;
	font-weight: bold 
}

p.a_roleResp
{	text-align:center ;
	margin-top: 8pt ;
	margin-bottom: 2pt ;
	color: Navy ;
	font-weight: bold 
}

p.a_role
{	text-align:center ;
	margin-top: 2pt ;
	margin-bottom: 2pt ;
	font-size: x-small
}

.a_step
{	font-weight: bold ;
	font-size: 8pt;
	link:color: black;
	visited:color: black;
}
.a_step a:link
{	color: black;
}

.a_step a:visited
{	color: black;
}

.a_step a:active 
{
 	color: black;
}

.a_step a:hover 
{
  	color: navy;
}


.a_step_comment
{	font-weight: bold ;
	font-size: 8pt;
	font-style: italic
}

.a_step_optional
{	font-weight: bold ;
	font-size: 8pt;
	color: #666666
}

.a_step_optional a:link
{	color: black;
}

.a_step_optional a:visited
{	color: black;
}

.a_step_optional a:active 
{
 	color: black;
}

.a_step_optional a:hover 
{
  	color: navy;
}