p.Glossary_Entry 	
{	margin-left: 10pt; 
	margin-bottom: -10pt ; 
	font-weight: bold 
}
.Glossary_Entry_L2
{	color: #C0C0C0 ;
	background-color: white ;
	font-style: italic 
}

p.Glossary_Description 	
{ 	margin-left: 20pt 
}

p.Glossary_Letter
{	font-size: large ;
	color: #000099 ;
	background-color: white ;
	font-weight: bold
}

p.Glossary_Source
{	margin-left: 20pt;
	font-size: xx-small;
	font-style: italic 
}


p.Glossary_Equivalent
{	margin-left: 20pt;
	font-size: xx-small
}
