h1	     
{ 	font-family: Arial, sans-serif 
}

h2           
{ 	font-family: Arial, sans-serif
}

h3           
{ 	font-family: Arial, sans-serif
}

h4           
{ 	font-family: Arial, sans-serif
}

h1.banner
{
	BACKGROUND: #3764AF;
	color:#FFFFFF;
	text-align: center;
	font-family: Arial, sans-serif;font-size: 12pt
}
 
p            
{ 	font-family: Arial, sans-serif; 
	font-size: 9pt 
}

ol           
{ 	font-family: Arial, sans-serif; 
	font-size: 9pt 
}

li           
{ 	font-family: Arial, sans-serif; 
	font-size: 9pt 
}

body         
{ 	font-family: Arial, sans-serif; 
	font-size: 9pt 
}

td           
{ 	font-family: Arial, sans-serif
}

th           
{ 	font-family: Arial, sans-serif; 
	font-size: 9pt 
}

tr           
{ 	font-family: Arial, sans-serif; 
	font-size: 9pt 
}

.ToolTip     
{ 	background-color: #FFFFDD  ;
	color: black

}


td.templateTable
{	background-color: #3764AF  ;
	color: #FFFFFF ;
	font-weight: bold
}

td.procedureTable
{	background-color: #3764AF  ;
	color: #FFFFFF ;
	font-weight: bold
}

td.wpTable
{	background-color: #3764AF  ;
	color: #FFFFFF ;
	font-weight: bold
}

td.activitiesAndWorkProductTables
{	background-color: #3764AF  ;
	color: #FFFFFF ;
	font-weight: bold
}

td.roleTable
{	background-color: #3764AF  ;
	color: #FFFFFF ;
	font-weight: bold
}

h3.disciplineTitle
{	color: #3764AF
}

img.schema 
{ 
	display : block; 
	margin-left : auto; 
	margin-right : auto; 
} 

p.pageIdentifier
{	text-align: center;
	font-size: 8pt;
	color: #006600
}

@media all 
{
	.imgBig {}
}

@media print 
{
	.imgBig {width: 100% ;}
}


#PBtooltip{
position: absolute;
width: 600px;
border: 2px solid #000099;
padding: 0px;
visibility: hidden;
background-color: #e8e8ff;
color: black;
z-index: 100;
}

.toolTipTitle           
{   font-family: Verdana; 
    font-size: 10px ;
    color: #FFFFFF ;
    font-weight: bold ; 
}

.toolTipText           
{   font-family: Verdana;
    font-size: 10px ;
    color: #000000 ;
}

